{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-sm">
                    <div class="card-body row no-gytters align-item-center">
                        <div class="col">
                            <input type="search",name='item_name',placeholder="search for products" class="form-control form-control-borderless">
                        </div>
                     <div class="col-auto">
                         <button class="btn btn-success" type="submit">Search

                         </button>
                     </div>       
                    </div>


                </div>

            </div>


        </div>



        <div class="row">
            {% for product in product_objects %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{ product.image }}" class="card-img-top">
                        <div class="card-body">
                            <div class="card-title">
                                {{ product.title }} 
                            </div>
                            <div class="card-text">
                                ${{ product.price }}
                            </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>




    </div>



    
</body>
</html>


















